<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clipboard</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body onload="onLoad();">
    <div class="container">
        {% if clip_list %}
        {% for clip in clip_list %}
        <div class="row">
            <div class="span9"><strong>{{ clip.content_text|striptags|truncatewords:10 }}</strong></div>
            <div class="btn-group span3">
                <button class="btn" data-toggle="collapse" data-target="#clip_{{ clip.id }}">Expand</button>
                <button class="btn" onmouseover="setClip(this, $('#clip_{{ clip.id }}').text());">Copy</button>
            </div>
            <div id="clip_{{ clip.id }}" class="span12 collapse"><pre>{{ clip.content_text }}</pre></div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        {% load bootstrap_toolkit %}
        <form class="form-inline" action="add_clip/" method="post">
            {% csrf_token %}
            {% bootstrap_form add_clip_form layout="inline" %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <button id="copy_clip_button_placeholder" class="btn" style="visibility: hidden;">Copy</button>

    <script type="text/javascript" src="../static/js/ZeroClipboard.js"></script>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    var clip = new ZeroClipboard.Client();
    function onLoad() {
        ZeroClipboard.setMoviePath('../static/js/ZeroClipboard10.swf');
        clip.glue('copy_clip_button_placeholder');
    }
    function setClip(element, text) {
        clip.setText(text);
        clip.reposition(element);
    }
    </script>

</body>

</html>
